@using HRsystem.ViewModels
@model ChangePasswordViewModel
@{
    Layout = "_EmployeeLayout";
}

<div  class="group mt-5 relative rounded-3xl p-6 w-full h-4/6
         flex flex-col items-center justify-center gap-6
         bg-white/30 backdrop-blur-md
         shadow-black/10
         hover:bg-white/40 hover:shadow-2xl
         transition-all duration-500">
         <h2 class="text-2xl font-bold text-gray-800">قم بتغيير كلمة المرور لتفعيل الحساب</h2>
    <form method="post" action="/employee-dashboard/change-password"  class="gap-3 w-full flex flex-col justify-center items-center">
        @Html.AntiForgeryToken()
        <div asp-validation-summary="All" class="text-red-500"></div>
        <div class="w-full flex justify-center flex-col">
            <label class="block text-sm self-center font-medium mb-1" for="newPassword">كلمة المرور الجديدة:</label>
            <input class="text-center w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" type="password" id="newPassword" name="NewPassword" class="form-control" required />
        </div>
        <div class="w-full flex justify-center flex-col">
            <label class="block text-sm self-center font-medium mb-1" for="confirmPassword">تأكيد كلمة المرور:</label>
            <input class="text-center w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]" type="password" id="confirmPassword" name="ConfirmNewPassword" class="form-control" required />
        </div>
        <button type="submit" class="col-button-dark">تغيير كلمة المرور</button>
    </form>
</div>


@section Scripts {
    <script>
        // Add any JavaScript code here if needed
        $(document).ready(function () {
            // Example: You can add form validation or other scripts here
            document.getElementById('confirmPassword').addEventListener('input', function () {
                var newPassword = document.getElementById('newPassword').value;
                var confirmPassword = document.getElementById('confirmPassword').value;
                if (confirmPassword && newPassword !== confirmPassword) {
                    document.getElementById('confirmPassword').setCustomValidity("كلمة المرور الجديدة وتأكيدها غير متطابقين");
                } else {
                    document.getElementById('confirmPassword').setCustomValidity("");
                }
            });
        });
    </script>
}