@{
    ViewData["Title"] = "تقرير شامل";
}


<button onclick="location.href='/reports'"
    class="mb-4 col-button-dark px-4 py-2 rounded-lg hover:bg-color3 hover:text-white transition-all duration-300">
    رجوع
</button>

<!--Choose Employee -->
<div class="w-full rounded-lg shadow-md flex items-center justify-start gap-3 m-2 p-2">
    <select name="employee" id="chooseEmployee"
        class="w-1/4 bg-color1 rounded-lg p-2 border-2 border-color3 focus:outline-color2 focus:ring focus:ring-color2">
        <option value="">اختر موظف</option>
    </select>
    <div class="flex flex-row gap-2 justify-center items-center rounded-lg  border-color3">
        <label for="monthPicker">من</label>
        <input type="date" placeholder="البداية" id="startDatePicker" disabled
            class="bg-color1 border-2 p-2 border-color3 rounded-lg">

        <label for="monthPicker">إلي</label>
        <input type="date" placeholder="النهاية" id="endDatePicker" disabled
            class="bg-color1 border-2 p-2 border-color3 rounded-lg">
    </div>

    <button id="dataShowBtn" class="col-button-dark" onclick="toggleData()">بيانات الموظف</button>
</div>
<!--fetch request -->
<div class="rounded-lg shadow-sm text-center hidden p-3 m-3  grid-cols-3" id="dataDiv">
    <div class="m-1 p-1 rounded-sm">
        <label for="">اسم الموظف:</label>
        <span id="empInfoName" class="text-color3">حماده عبد الرحمن توفيق</span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">الرقم القومي:</label>
        <span id="empInfoNationalId" class="text-color3">30012030102897</span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">رقم التليفون:</label>
        <span id="empInfoPhoneNumber" class="text-color3">01017645736</span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">العنوان:</label>
        <span id="empInfoAddress" class="text-color3">القاهرة</span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">تاريخ الميلاد:</label>
        <span id="empInfoBirthDate" class="text-color3">2000-12-03</span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">الديانة:</label>
        <span id="empInfoReligion" class="text-color3">مسلم</span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">الحالة الاجتماعية:</label>
        <span id="empInfoSocialStatus" class="text-color3">متزوج</span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">رقم التأمين:</label>
        <span id="empInfoInsuranceNumber" class="text-color3">8383899</span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">تاريخ التعيين:</label>
        <span id="empInfoHireDate" class="text-color3">2024-11-03</span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">تاريخ الانتهاء:</label>
        <span id="empInfoEndDate" class="text-color3"></span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">القسم:</label>
        <span id="empInfoDepartment" class="text-color3">الصيانة</span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">المسمي الوظيفي:</label>
        <span id="empInfoJobName" class="text-color3">كهربائي</span>
    </div>
    <div class="m-1 p-1 rounded-sm">
        <label for="">نوع العقد:</label>
        <span id="empInfoContractType" class="text-color3">direct</span>
    </div>
</div>



<div class="flex justify-center text-color3" id="waitingForEndDateChange">
    <i class="bi bi-search text-[350px]"></i>
</div>

<div id="reportResultsDiv" class="p-2 m-2 hidden"> <!-- WWWWWWWWW -->
    <div class="grid grid-cols-2 md:grid-cols-5 gap-4 my-6">
        <!--get data-->
        <div class="stat-card">
            <div id="arrivalsNumber" class="stat-value">40</div>
            <div class="stat-label">أيام الحضور</div>
        </div>

        <div class="stat-card">
            <div id="absencesNumber" class="stat-value">2</div>
            <div class="stat-label">أيام الغياب</div>
        </div>

        <div class="stat-card">
            <div id="offdays" class="stat-value">8</div>
            <div class="stat-label">الإجازات</div>
        </div>

        <div class="stat-card">
            <div id="offs" class="stat-value">7</div>
            <div class="stat-label">الراحات</div>
        </div>

        <div class="stat-card">
            <div id="penalties" class="stat-value">2</div>
            <div class="stat-label">الجزاءات</div>
        </div>

    </div>




    <div class="tabs-container">
        <div class="tabs">
            <button class="tab active" onclick="showArrivals()" data-tab="attendance">الحضور</button>
            <button class="tab" onclick="showAbsences()" data-tab="absences">الغياب</button>
            <button class="tab" onclick="showOffDays()" data-tab="vacations">الإجازات</button>
            <button class="tab" onclick="showOffs()" data-tab="offs">الراحات</button>
            <button class="tab" onclick="showPenalties()" data-tab="penalties">الجزاءات</button>
            <button class="tab" onclick="showRates()" data-tab="rating">التقييم</button>
        </div>


        <div class="tab-content w-full">
            <div class="shadow-md rounded-lg w-full flex flex-col gap-3 max-h-[30vh] overflow-y-auto">
                <h2 class="fs-3 text-center w-full hidden" id="tableHeading"></h2>
                <table class="table-base min-w-full border-separate border-spacing-0" id="allInfoReportTable">
                    <thead class="table-dark col-table-header sticky top-0 z-10" id="allInfoReportHead">
                    </thead>
                    <tbody id="allInfoReportBody" class="" style="color:black !important;">
                    </tbody>
                </table>
                <div id="noRecordsDiv" class="w-full hidden">
                    <h2 class="p-3 text-center fs-2 m-2">لا يوجد</h2>
                </div>
            </div>
        </div>
    </div>

@*  general,   *@
@section Scripts {
        <script src="~/js/AllInfoReport/AllInfoReport.js"></script>
}