@{
    ViewData["Title"] = "إدارة التقارير";
}

<button onclick="location.href='/reports'" class="mb-4 col-button-dark px-4 py-2 rounded-lg hover:bg-color3 hover:text-white transition-all duration-300">
    رجوع
</button>

<div class="w-full rounded-lg shadow-lg flex items-center justify-start gap-3 m-2 p-2">
    <label for="">من</label>
    <input id="pdfStartDate" type="date" placeholder="البداية" class="border text-center border-gray-400 rounded px-2 py-2">
    <label for="">إلي</label>
    <input id="pdfEndDate" type="date" placeholder="النهاية" class="border text-center border-gray-400 rounded px-2 py-2">
</div>

<div class="grid grid-cols-3 rounded-lg gap-2">
    <a href="/reports/employees" class=" reportCard">
        كشف بجميع الموظفين   
    </a>
    <a href="/reports/employeesDH/2" class="reportCard">
        تقرير عن حضور الموظفين 
    </a>
   
</div>

@section Scripts{
    <script src="~/js/PDFReport/Search.js"></script>
}