@{
    ViewData["Title"] = "التقارير";
}

<h2 class="fs-3 text-center p-4 m-2 text-color3 shadow-lg">إدارة التقارير</h2>

<div class="gap-5 flex flex-row justify-center items-start mt-7 w-full h-full">
    <a href="/PDFReports" class="border-2 border-color5 bg-white rounded-lg flex flex-col justify-center items-center p-5 w-1/3 h-1/2 hover:shadow-lg hover:scale-105 transition-all duration-300">
        <span class="text-color5 font-bold text-lg">
            تقارير PDF  
        </span>
        <img src="/images/pdf.png" alt="pdf icon" class="w-36 h-36 mt-3">
    </a>
    <a href="/allInfoReport" class="border-2 border-color5 bg-white rounded-lg flex flex-col justify-center items-center p-5 w-1/3 h-1/2 hover:shadow-lg hover:scale-105 transition-all duration-300">
        <span class="text-color5 font-bold text-lg">
            تقرير شامل   
        </span>
        <img src="/images/allInfo.png" alt="info icon" class="w-36 h-36 mt-3">
    </a>

</div>
