<div class="flex flex-wrap">
    <a href="/admin/users" class="reportCard  text-center p-4 m-5 w-full">المستخدمين</a>
    <a href="/admin/employees" class="reportCard text-center p-4 m-5 w-full">الموظفين</a>
    <a href="/admin/dashboard/departments" class="reportCard text-center p-4 m-5 w-full">الاقسام</a>
    <a href="/logs" class="reportCard text-center p-4 m-5 w-full">logs</a>
    @* <button class="reportCard p-4 m-5 w-full">البصمة</button>
    <button class="reportCard p-4 m-5 w-full">الاجازات</button>
    <button class="reportCard p-4 m-5 w-full">الجزاءات</button> *@
</div>