<div class="flex flex-wrap">
    <button class="reportCard p-4 m-5 w-full">المستخدمين</button>
    <button class="reportCard p-4 m-5 w-full">الموظفين</button>
    <a href="/admin/dashboard/departments" class="reportCard text-center p-4 m-5 w-full">الاقسام</a>
    @* <button class="reportCard p-4 m-5 w-full">البصمة</button>
    <button class="reportCard p-4 m-5 w-full">الاجازات</button>
    <button class="reportCard p-4 m-5 w-full">الجزاءات</button> *@
</div>