@model IEnumerable<HRsystem.Models.HRDepartment>;
<div class="flex flex-col w-full">
    <a href="/createDepartment" class="col-button-dark w-1/6">
        اضافة قسم
    </a>
    <div id="tableResponsive" class="tableContainer">
        <table class="table-base min-w-full border-separate border-spacing-0" id="departmentsTable">
            <thead class="table-dark listEmpTableThead col-table-header sticky top-0 z-10">
                <tr>
                    <th>الاسم</th>
                    <th>الكود</th>
                    <th>القسم العام</th>
                    <th>مدير القسم</th>
                </tr>
            </thead>
            <tbody id="employeesBody" class="listEmpTableTbody mt-3">
                @foreach (var department in Model)
                {
                    <tr id="row-@department.Id" class="snap-start">
                        <td>@department.Name</td>
                        <td>@department.Code</td>
                        <td>@department.ParentDepartment</td>
                        <td>@department.Manager</td>
                        <td>
                            <!-- Button to open modal -->
                            <button class="openModal col-button-dark  text-[9px] rounded">
                                تعديل
                            </button>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>

</div>