@{
    ViewData["Title"] = "اليوم";
    Layout = "_Layout";
}
<div class="p-6">

<div class="w-full flex justify-center items-center">
    <img src="images/logo2.png" class="w-[200px] h-[200px]">
</div>
<div class="p-6 flex flex-row gap-2 justify-center align-items-center">
    <h1 class="text-2xl font-bold mb-4 text-center ">تاريخ اليوم:</h1>
    <p class="mb-6 fs-4 bg-white rounded-lg p-1 w-1/5  text-center" id="dateDiv"></p>
</div>

  <div class="grid grid-cols-1 md:grid-cols-4 gap-6 text-center">

  <!-- إجمالي الموظفين -->
  <a class="bg-white p-4 cursor-pointer rounded-lg shadow-md">
    <h2 class="text-lg font-semibold mb-4">إجمالي الموظفين</h2>

    <svg class="mx-auto" width="120" height="120" viewBox="0 0 42 42">
      <circle
        cx="21" cy="21" r="15.915"
        fill="transparent"
        stroke="#e5e7eb"
        stroke-width="3"
      />
      <circle
        cx="21" cy="21" r="15.915"
        fill="transparent"
        stroke="#2563eb"
        stroke-width="3"
        stroke-dasharray="100 0"
      />
      <text x="21" y="23" text-anchor="middle" class="fill-blue-600 text-[12px] font-bold">
        150
      </text>
    </svg>
  </a>

  <!-- الحاضرين -->
  <a class="bg-white p-4 rounded-lg shadow-md">
    <h2 class="text-lg font-semibold mb-4">الموظفين الحاضرين</h2>

    <svg class="mx-auto" width="120" height="120" viewBox="0 0 42 42">
      <circle cx="21" cy="21" r="15.915" fill="transparent" stroke="#e5e7eb" stroke-width="3"/>
      <circle
        cx="21" cy="21" r="15.915"
        fill="transparent"
        stroke="#16a34a"
        stroke-width="3"
        stroke-dasharray="80 20"
      />
      <text x="21" y="23" text-anchor="middle" class="fill-green-600 text-[12px] font-bold">
        120
      </text>
    </svg>
  </a>

  <!-- الغائبين -->
  <a class="bg-white p-4 rounded-lg shadow-md">
    <h2 class="text-lg font-semibold mb-4">الموظفين الغائبين</h2>

    <svg class="mx-auto" width="120" height="120" viewBox="0 0 42 42">
      <circle cx="21" cy="21" r="15.915" fill="transparent" stroke="#e5e7eb" stroke-width="3"/>
      <circle
        cx="21" cy="21" r="15.915"
        fill="transparent"
        stroke="#dc2626"
        stroke-width="3"
        stroke-dasharray="2 98"
      />
      <text x="21" y="23" text-anchor="middle" class="fill-red-600 text-[12px] font-bold">
        3
      </text>
    </svg>
  </a>

  <!-- إجازة -->
  <a class="bg-white p-4 rounded-lg shadow-md">
    <h2 class="text-lg font-semibold mb-4">الموظفين إجازة</h2>

    <svg class="mx-auto" width="120" height="120" viewBox="0 0 42 42">
      <circle cx="21" cy="21" r="15.915" fill="transparent" stroke="#e5e7eb" stroke-width="3"/>
      <circle
        cx="21" cy="21" r="15.915"
        fill="transparent"
        stroke="#6b7280"
        stroke-width="3"
        stroke-dasharray="18 82"
      />
      <text x="21" y="23" text-anchor="middle" class="fill-gray-600 text-[12px] font-bold">
        27
      </text>
    </svg>
  </a>

</div>
</div>


@section Scripts{
    <script>
       const now = new Date();

document.getElementById("dateDiv").innerText =
  now.toLocaleDateString("ar-EG", {
    weekday: "long",
    year: "numeric",
    month: "long",
    day: "numeric"
  });


    </script>
}