@model LoginViewModel

@{
    ViewData["Title"] = "الموارد البشرية";
    Layout = "";
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/output.css" rel="stylesheet" />
    <link rel="icon" href="~/images/logo2.png" sizes="96x96" type="image/png">
    

</head>

<body class="index_body">

    <div class="group  relative rounded-3xl p-6 w-1/2 h-4/6
         flex flex-col items-center justify-center gap-6
         bg-white/30 backdrop-blur-md
         shadow-lg shadow-black/10
         hover:bg-white/40 hover:shadow-2xl
         transition-all duration-500">

        <!-- Logo -->
        <img src="/images/logo2.png" class="w-[200px] h-[200px] object-contain
           group-hover:scale-105 transition-transform duration-300" alt="logo">

        <!-- Title -->
        <p class="text-xl font-semibold text-gray-800 tracking-wide">
            إدارة الموارد البشرية
        </p>

        <form asp-action="Login" method="post" class="gap-3 w-full flex flex-col justify-center items-center">


            <div class="w-full flex justify-center flex-col">
                <label class="block text-sm font-medium self-center mb-1">اسم المستخدم</label>
                <input asp-for="Username" class="text-center w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]"
                    placeholder="اسم المستخدم" />
                <span asp-validation-for="Username" class="text-red-500 text-sm text-center"></span>
            </div>

            <div class="w-full flex justify-center flex-col">
                <label class="block text-sm self-center font-medium mb-1">كلمة المرور</label>
                <input asp-for="Password" type="password"
                    class=" w-full border rounded p-2 text-center focus:outline-none focus:ring focus:ring-[#7B9669]" placeholder="كلمة المرور" />
                <span asp-validation-for="Password" class="text-red-500 text-sm text-center"></span>
            </div>


            

            <!-- Button -->
            <button type="submit" class="cursor-pointer mt-1 inline-flex items-center gap-2
           bg-color3 text-white
           px-8 py-3 rounded-full
           shadow-md shadow-color3/40
           hover:bg-color2 hover:shadow-lg
           hover:-translate-y-1
           transition-all duration-300">

                الدخول
                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 h-5" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
                </svg>
            </button>
        </form>

    </div>

    @* <!-- ✅ Your normal image -->
    <img src="/images/hr logo1.png" alt="صورة الموظف"
        class="w-32 h-32 rounded-lg cursor-pointer hover:opacity-80 transition" onclick="openImage(this.src)" />

    <!-- ✅ The lightbox -->
    <div id="imageLightbox" class="fixed inset-0  bg-black bg-opacity-50 hidden items-center justify-center z-50">
        <img id="lightboxImage"
            class="max-w-3xl max-h-[90vh] rounded-2xl shadow-2xl transition-transform duration-300 scale-95" />
    </div> *@
</body>

</html>


<script>
    


</script>