@using Microsoft.EntityFrameworkCore.Query.SqlExpressions
@model IEnumerable<HRsystem.Models.HREmployee>

@{
    ViewData["Title"] = "إدارة الإجازات";
}



<!-- EMPLOYEE TABLE -->
<div id="tableResponsive" class="tableContainer">
    <table class="table-base min-w-full border-separate border-spacing-0" id="OffDaysTable">
        <thead class="table-dark col-table-header sticky top-0 z-10">
            <tr>
                <th>اسم الموظف</th>
                <th>القسم</th>
                <th>المسمى الوظيفي</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in Model)
            {
                <tr>
                    <td>@e.Name</td>
                    <td>@e.Department</td>
                    <td>@e.JobName</td>
                    <td>
                        <button class="col-button-dark m-1" onclick="openModal('@e.Id')">
                            تعديل
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



<!-- MODAL BACKDROP -->
<div id="editModal" class="fixed inset-0 bg-black bg-opacity-50 hidden justify-center items-center z-50
            transition-all duration-300 ease-out opacity-0 scale-95">

    <!-- MODAL -->
    <div class="col-modal relative rounded-lg shadow-lg p-6" dir="rtl">

        <button onclick="closeModal()" class="absolute top-2 left-2 text-[25px]">
            <i class="bi bi-x-square-fill"></i>
        </button>

        <h2 class="text-xl font-semibold text-center mb-6">تعديل الاجازات</h2>

        <input type="hidden" id="empId">

        <!-- Dates -->
        <div class="w-full relative shadow-lg p-4 flex flex-row items-center justify-start gap-3 mt-6" id="dateInputs">
            <label>من</label>
            <input class="border p-2  rounded  focus:outline-none focus:ring focus:ring-[#7B9669]" placeholder="البداية"
                type="date" id="from" />
            <label>إلى</label>
            <input class="border p-2  rounded  focus:outline-none focus:ring focus:ring-[#7B9669]" placeholder="النهاية"
                type="date" id="to" disabled />
            <button onclick="loadDays()" class="col-button-dark ">بحث</button>
            <div id="offdaysBalance" class="p-1 m-2 gap-2  flex flex-row justify-end items-center absolute left-3 ">
                <span class="font-extrabold">الرصيد المتبقي</span>
                <table class="table-base">
                    <thead class="table-dark col-table-header">
                        <tr>
                            <th>سنوي</th>
                            <th>عارضة</th>
                            <th>راحة</th>
                            <th>بدل اجازة</th>
                        </tr>
                    </thead>
                    <tbody id="balancesBody">
                        <tr style="background-color:white !important">
                            <td>
                                <input disabled type="number" value="5" class="border m-1 !bg-color1 w-12 text-center rounded p-1 focus:outline-none focus:ring focus:ring-[#7B9669]" " id="annualBalance" />
                            </td>
                            <td>
                                <input disabled type="number" value="5" class="border m-1 !bg-color1 w-12 text-center rounded p-1 focus:outline-none focus:ring focus:ring-[#7B9669]" " id="casualBalance" />
                            </td>
                            <td>
                                <input disabled type="number" value="5" class="border m-1 !bg-color1 w-12 text-center rounded p-1 focus:outline-none focus:ring focus:ring-[#7B9669]" " id="offBalance" />
                            </td>
                            <td>
                                <input disabled type="number" value="5" class="border m-1 !bg-color1 w-12 text-center rounded p-1 focus:outline-none focus:ring focus:ring-[#7B9669]" " id="insteadBalance" />
                            </td>
                        </tr>
                    </tbody>
                </table>
                @* <div class="flex flex-col text-center  p-2 rounded-lg">
                    <span class="font-extrabold p-1 rounded-lg ">سنوي</span>
                    <input  type="number" value="5" class="border !bg-color1 w-12 text-center rounded p-1 focus:outline-none focus:ring focus:ring-[#7B9669]" " id="annualBalance" />
                </div>
                <div class="flex flex-col text-center  p-2 rounded-lg">
                    <span class="font-extrabold p-1 rounded-lg ">عارضة</span>
                    <input  type="number" value="5" class="border !bg-color1 w-12 text-center rounded p-1 focus:outline-none focus:ring focus:ring-[#7B9669]" " id="casualBalance" />
                </div>
                <div class="flex flex-col text-center  p-2 rounded-lg">
                    <span class="font-extrabold p-1 rounded-lg ">راحة</span>
                    <input  type="number" value="5" class="border !bg-color1 w-12 text-center rounded p-1 focus:outline-none focus:ring focus:ring-[#7B9669]" " id="offBalance" />
                </div>
                <div class="flex flex-col text-center  p-2 rounded-lg">
                    <span class="font-extrabold p-1 rounded-lg ">بدل اجازة</span>
                    <input  type="number" value="5" class="border !bg-color1 w-12 text-center rounded p-1 focus:outline-none focus:ring focus:ring-[#7B9669]" " id="insteadBalance" />
                </div> *@
                <button id="editBalancesBtn" class="col-button-dark !h-[50%]">تعديل</button>
                <button id="saveBalancesBtn" class="hidden col-button-dark !h-[50%]">حفظ</button>
            </div>
        </div>


        <!-- DAYS CONTAINER -->
        <div id="daysContainer" class="shadow-lg rounded-md gap-2 m-4 p-4 hidden overflow-auto max-h-[50vh]">
        </div>

        <div class="mt-8 justify-center hidden" id="saveBtn">
            <button onclick="submitVacation()" class="col-button-dark py-2 px-6 rounded transition-all duration-300">
                حفظ
            </button>
        </div>

    </div>
</div>



<!-- SMALL DROPDOWN POPUP -->
<div id="typeModal" class="hidden fixed inset-0 bg-black/30 backdrop-blur-sm z-50
              items-center justify-center">

    <form id="typePopup" class="bg-white p-6 rounded-2xl shadow-xl w-64 text-center">
        <h3 class="text-lg font-bold mb-3">اختر نوع الإجازة</h3>

        <select id="popupSelect" class="w-full border rounded-lg p-2 text-right">
            <option class="dropdown-item" value="">اختر نوع الإجازة</option>
            <option class="dropdown-item" value="راحة">راحة</option>
            <option class="dropdown-item" value="سنوي">سنوي</option>
            <option class="dropdown-item" value="عارضة">عارضة</option>
            <option class="dropdown-item" value="مرضي">مرضي</option>
            <option class="dropdown-item" value="أخرى">أخرى</option>
        </select>
        <input id="otherInput" type="text"
            class="hidden mt-1 w-full border rounded p-2 focus:outline-none focus:ring focus:ring-[#7B9669]"
            name="OffDayType" required placeholder="اكتب السبب هنا" />
        <div class="hidden bg-red-300 text-bold rounded-lg p-2 m-2" id="error">من فضلك ادخل السبب</div>
        <button type="button" onclick="makeOffDay()" class="mt-4  py-2 px-4 rounded-lg col-button-dark">
            تأكيد
        </button>
    </form>
</div>

@* () *@
@section Scripts {
    <script src="~/js/OffDay/EditModal.js"></script>
    <script src="~/js/OffDay/TypeModal.js"></script>
}